

#clrchs-title {
	font-size: 26px;
	margin: 0 0 8px 0;
}

#clrchs-form .form-table {
	width: auto;
}

	#clrchs-form .form-table td { padding: 5px 20px 10px 0; }
	#clrchs-form .form-table tr.section td { padding: 25px 20px 5px 0; }

	#clrchs-form .form-table td:first-child { min-width: 150px; }

	#clrchs-form .form-table td h2,
	#clrchs-form .form-table td h3,
	#clrchs-form .form-table td h4 { margin: 0; padding: 0; }




.clrchs-nav-content-wrapper {
	width: 625px;
	padding: 15px 0 0 12px;
}

.clrchs-nav-content { display: none; }
.clrchs-nav-content-active { display: block; }

p.clrchs-description {
	font-weight: 400;
	line-height: 1.6em;
	font-size: 19px;
}

.clrchs-center {
	text-align: center;
}

#clrchs-nav-content-all .button.button-large {
	height: 40px;
	line-height: 40px;
	padding: 0 22px 12px;
	font-size: 16px;
}

.clrchs-purge-on { display: none; }

.clrchs-purge-button { width: 150px; }