

#clrchs-title {
	font-size: 26px;
	margin: 0 0 5px 0;
}

#clrchs-form .form-table {
	width: auto;
}

	#clrchs-form .form-table td { padding: 5px 20px 10px 0; }
	#clrchs-form .form-table tr.section td { padding: 25px 20px 5px 0; }

	#clrchs-form .form-table td:first-child { min-width: 150px; }

	#clrchs-form .form-table td h2,
	#clrchs-form .form-table td h3,
	#clrchs-form .form-table td h4 { margin: 0; padding: 0; }

	#clrchs-form .form-table #clrchs-action-nginx-path input[type="text"] { width: 200px; }

	#clrchs-form .form-table .clrchs-purge-button { width: 150px; }
	#clrchs-form .form-table .clrchs-purge-button-save { width: 100px; }